name: Run ANZ Grabaseat Daily

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  run-daily:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install deps
        run: pip install --upgrade pip

      - name: Run script
        env:
          BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
          FROM_EMAIL: ${{ secrets.FROM_EMAIL }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
          FROM_NAME: "NZ-AU Fare Bot"
          DEBUG: "0"
        run: python3 anz_grabaseat_daily.py
